.modal {
    height: 100vh;
    width: 100vw;
}

.modal.active {
    opacity: 1;

}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 200px;
    width: 400px;

}
