
.icon-print:before { content: '\e800'; } /* '' */
.icon-restaurant:before { content: '\e801'; } /* '' */
.icon-security:before { content: '\e802'; } /* '' */
.icon-setting:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\e804'; } /* '' */
.icon-wallet:before { content: '\e805'; } /* '' */
.icon-about-us:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-appereance:before { content: '\e808'; } /* '' */
.icon-arrow---down:before { content: '\e809'; } /* '' */
.icon-arrow---up:before { content: '\e80a'; } /* '' */
.icon-card:before { content: '\e80c'; } /* '' */
.icon-coin:before { content: '\e80d'; } /* '' */
.icon-customer:before { content: '\e80e'; } /* '' */
.icon-dashboard:before { content: '\e80f'; } /* '' */
.icon-discount:before { content: '\e810'; } /* '' */
.icon-edit:before { content: '\e811'; } /* '' */
.icon-export:before { content: '\e812'; } /* '' */
.icon-home:before { content: '\e813'; } /* '' */
.icon-log-out:before { content: '\e814'; } /* '' */
.icon-message:before { content: '\e815'; } /* '' */
.icon-notification:before { content: '\e816'; } /* '' */
.icon-option:before { content: '\e817'; } /* '' */
.icon-order:before { content: '\e818'; } /* '' */
.icon-paypal:before { content: '\e819'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
