@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

.notscrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.notscrollbar::-webkit-scrollbar {
  display: none;
}

.react-tabs{
  margin-top: 24px;
}

.react-tabs .react-tabs__tab-list{
  border-bottom: 1px solid #393C49;
  margin: 0 0 40px;
} 

.react-tabs__tab-list .react-tabs__tab:first-child{
  padding-left: 0;
}

.react-tabs__tab-list .react-tabs__tab--selected:first-child{
  padding-left: 0;
}
.react-tabs__tab-list .react-tabs__tab:last-child{
  padding-right: 0;
}

.react-tabs__tab-list .react-tabs__tab--selected:last-child{
  padding-right: 0;
}

.react-tabs__tab-list .react-tabs__tab{
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 15px;
  border: none;
  transition: ease .3s;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}

.react-tabs__tab:focus {
  box-shadow:none !important;
  border-color: transparent !important;
  outline: none !important;
} 

.react-tabs__tab:focus:after {
  content: "" !important;
  background-color: #EA7C69 !important;
  border: 3px solid #EA7C69 !important;
  position: absolute !important;
  width: calc(100% - 16px) !important;
  bottom: -1.5px !important;
  left: 16px !important;
  border-radius: 9999px !important;
}

.react-tabs__tab:first-child:focus:after {
  content: "" !important;
  background-color: #EA7C69 !important;
  border: 3px solid #EA7C69 !important;
  position: absolute !important;
  width: calc(100%) !important;
  bottom: -1.5px !important;
  left: 0 !important;
  border-radius: 9999px !important;
}

.react-tabs__tab:last-child:focus:after {
  content: "" !important;
  background-color: #EA7C69 !important;
  border: 3px solid #EA7C69 !important;
  position: absolute !important;
  width: calc(100%) !important;
  bottom: -1.5px !important;
  left: 16px !important;
  border-radius: 9999px !important;
}



.react-tabs__tab-list .react-tabs__tab:hover{
  color: #EA7C69;
}

.react-tabs__tab-list .react-tabs__tab--selected {
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 15px;
  background: transparent;
  border: none;
  color: #EA7C69;
  border-radius: 5px 5px 0 0;
  transition: ease .3s;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}



.react-tabs__tab-list .react-tabs__tab--selected:first-child::after{
  content: "";
  background-color: #EA7C69;
  border: 3px solid #EA7C69;
  position: absolute;
  width: calc(100%);
  bottom: -1.5px;
  left: 0;
  border-radius: 9999px;
}

.react-tabs__tab-list .react-tabs__tab--selected:last-child::after{
  content: "";
  background-color: #EA7C69;
  border: 3px solid #EA7C69;
  position: absolute;
  width: calc(100%);
  bottom: -1.5px;
  left: 16px;
  border-radius: 9999px;
}
.react-tabs__tab-list .react-tabs__tab--selected::after{
  content: "";
  background-color: #EA7C69;
  border: 3px solid #EA7C69;
  position: absolute;
  width: calc(100% - 16px);
  bottom: -1.5px;
  left: 16px;
  border-radius: 9999px;
}

.nav-active{
  display: inline-block;
}
.nav-active::before{
  content: "";
  background-image: url(../src/assets/img/topactive.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  left: calc(100% - 12px);
  top: 10px;
}

.nav-active::after{
  content: "";
  background-image: url(../src/assets/img/bottomactive.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  left: calc(100% - 14px);
  bottom: 3px;
}

:root {
    --color-basedark: #1F1D2B;
    --color-primory: #EB966A;
    --color-primoryop: #eb956a42;
    --color-navitem: #EA7C69;
    --color-bacdark: #252836;
    --color-t-gray: #E0E6E9;
    --color-in-gray: #2D303E;
    --color-t-2-gray: #ABBBC2;
    --color-red: #FF7CA3;
    --color-fafafa: #FAFAFA;

    /* ... */
  }
  .nav-icon {
    transition: .8s ease;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .nav-active .bgroundnav {
    @apply bg-bacdark overflow-visible;
  }

  .nav-active .container-active{
    @apply bg-navitem rounded-lg shadow-itemnav;
  }

 .nav-icon {
    @apply text-primory text-2xl;
  }
  
  .nav-active .nav-icon {
    @apply text-white text-2xl;
  }



}